.container {
  display: block;
  margin-left: 30px;
}

h1 {
  padding-left: 30px;
}

li {
  list-style-type: none;
  padding-left: -5px;
  margin-left: -2px;
}

li:nth-child(2n) {
  width: 300px;
  border-bottom: 2px solid rgb(153, 153, 153);
}

.btn {
  margin: 5px 0 5px 0;
  border-bottom: 2px solid rgb(153, 153, 153);
}